
.item{
  font-size:18px;
  padding-left:30px;
}
ul{
  padding-top:20px;
  padding-bottom:20px;
}
.right{
  float:right;
}
li:nth-child(odd){
  background:#eee;
}
.list{
  position: relative;
}
.time{
  position: absolute;
  bottom: 0;
  right: 70px;
  color: #ccc;
  font-size: 8px;
}
